body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    width: 280px;
    /* Adjusted width */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #1d1b1b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.calculator input[type="text"] {
    width: 93%;
    padding: 10px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: right;
}

.calculator .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.calculator button {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background-color: grey;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.calculator button:hover {
    background-color: rgb(75, 73, 73);
}

.calculator .operator {
    background-color: #f44336;
}

.calculator .operator:hover {
    background-color: #e53935;
}